extends layout

block content
	div.row
		if (posts.length === 0)
			| There's no published content yet.
		else
			each post, index in posts
				div.post-preview
					a(href="/posts/#{post.slug}")
						h2(class="post-title")= post.title 
					p.post-meta Posted by #{post.author} on November 12, 2015
		hr
		ul.pager
			li.next
				a(href="#") Older Posts &rarr;
