extends layout

block content
	div.row
		div(class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1")
			if (message.length > 0) 
				div.alert.alert-danger= message
			h2.subheading Login
			div.row
				div(class="col-sm-4 col-md-4")
					a(href="/auth/twitter" class="btn btn-info")
						span(class="fa fa-twitter")	Sign in with Twitter
				div(class="col-sm-1 col-md-1")
				div(class="col-sm-4 col-md-4")
					a(href="/auth/facebook" class="btn btn-primary")
						span(class="fa fa-facebook") Sign in with Facebook
			form(action="/login", method="post", role="form")
				div.form-group
					label(for="email") Email
					input#email.form-control(name="email", type="text", required="required", placeholder="Email")
				div.form-group
					label(for="password") Password
					input#password.form-control(name="password", type="password", required="required", placeholder="****")
					span.help-block enter at least 6 characters
				p
					button.btn.btn-primary(type="submit") Login

				p
					span Have no account? Sign up 
					a(href="/signup" class="signup") here
					
					